<div>
  <a href="/"><div class="item">Back to main</div></a>
</div>
<div>
  <form method="get" action="add-article">
    <div style="margin: 10px;">
      <label>url
        <input type="text" name="url" value="{{url}}" class="col-7" style="font-size: large; width: 90%">
      </label>
        <input type="submit" value="ok" style="font-size: large"/>
    </div>
  </form>
</div>
