<form method="get" action="search">
  <input class="kobo-input" type="text" name="query" value="{{query}}" class="col-7" tabindex="-1">
  <input class="kobo-input" type="submit" value="search"/>
</form>
  <a href="/"><div class="item">Back to main</div></a>
<div>
    {{#each searchResults}}
      <a href="/books/{{this.id}}">
        <div class="item">
          {{ this.id }}. {{this.title}}
        </div>
      </a>
    {{/each}}
</div>
